<p>student_edit</p>
<form ng-submit="submit()">
    <p>Name: <input type="text" ng-model="student.fio" /></p>
    <p>Birthday: <input type="date" placeholder="yyyy-MM-dd" ng-model="student.birthday" /></p>
    <p>Number student cart: <input type="number" ng-model="student.number_student_cart" /></p>
    <p>Group: <select ng-model="student.group" ng-options="group.name for group in groups">
        <option value="">--------</option>
    </select></p>
    <input type="submit" id="submit" value="Edit student" />
</form>
<a href="groups/{{ student.group.id }}">Back</a>