<div ng-if="show_group">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" colspan="4">Group list</th>
            </tr>
            <tr>
                <th>Group name</th>
                <th>Group student count</th>
                <th>Group headman</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groups.data">
                <td>
                    <a href="groups/{{ group.id }}">{{ group.name }}</a>
                </td>
                <td>{{ group.count }}</td>
                <td>{{ group.headman_name }}</td>
                <td>
                    <a href="groups/edit/{{ group.id }}">
                        <img src="{{ static + 'imeg/edit.png'}} ">
                    </a>
                    <a href="groups/delete/{{ group.id }}">
                        <img src="{{ static + 'imeg/delete.png' }}">
                    </a>
                </td>
            </tr>
        </tbody>

    </table>
    <p><a href="group_add/">Add group</a></p>
    <p><a href="/ang/login/" style="float: left">Login</a>{{ user }}   <a href="/ang/logout/" style="float: right">Logout</a></p>
    <br>
</div>