<div>
    <form class="form-signin" role="form">
        <div class="form-group">
            <h2>Please sign in</h2>
            <p class="bg-danger" ng-show="error_data">Please enter the correct username and password!!!</p>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Username" ng-model="user.username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Sign in</button>
        </div>
    </form>
</div>