{% extends "index.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    {% if group_list %}
        <table>
            <thead>
                <tr>
                    <th colspan="4">Group list</th>
                </tr>
                <tr>
                    <th>Group name</th>
                    <th>Group student count</th>
                    <th>Group headman</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for group in group_list %}
                    <tr>
                        <td>
                            <a href="{% url 'student_list' group.pk %}">
                                {{ group.name }}
                            </a>
                        </td>
                        <td>{{ group.student_set.count }}</td>
                        <td>{{ group.headman }}</td>
                        <td>
                            {% load staticfiles %}
                            <a href="{% url 'group_edit' group.pk %}">
                                <img src="{% static 'imeg/edit.png' %}"></a>
                            <a href="{% url 'group_delete' group.pk %}">
                                <img src="{% static 'imeg/delete.png' %}">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <a href="{% url 'group_add' %}">Add group</a>
{% endblock %}